<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <H1>Home</H1>
    <ul>
        <li><a href="/">Home</a></li>  
    <li><a href="user/balance">Balance</a></li>
    <li><a href="user/withdraw">Withdraw</a></li>
    <li><a href="user/Deposit">Deposit</a></li>
    <li><a href="user/login">Logout</a></li>
</ul>
</body>
</html>