<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <title>Document</title>
    
</head>
<body>
   
   
    <div>
   
        <div class="login-box">
        <h1 class="head">Sign In</h1>
    
        <div class="textbox">
        
            <input type="text" placeholder="Email or Phone Number" name="" class="color"></input>
            </div>
        
        <div class="textbox">
            
            <input type="password" placeholder="Password" name="" class="color"></input>
            </div>
            
        
            
        
    
           <a href="/"> <button class="btn" >Sign In</button></a>
     
       <h5 class="text-color">New user? <a href="signup" class="text-color1">Sign up now.</a></h5>
                        </div>
                        </div>    
</body>
</html>